# ch2

In [96]:
a = 3.141596

In [107]:
print('%07.3f' % (a,))
print('%06.2f' % (3.141592653589793,))

003.142
003.14

In [19]:
import numpy as np

In [6]:
a = 'abc'

In [7]:
a[0]

'a'

In [8]:
a[0] = 'z'

TypeError: 'str' object does not support item assignment

In [9]:
a+a

'abcabc'

In [10]:
a*3

'abcabcabc'

In [11]:
a[-3:-1]

'ab'

In [12]:
a[:]*3

'abcabcabc'

In [13]:
'a'<'c'

True

In [17]:
''.join([chr(s) for s in [21830, 31649, 31243, 24335, 35373, 35336] ])

'商管程式設計'

In [14]:
ord('"')

34

In [33]:
s = '''
A=10 　　　J=18 　　　S=26  
B=11 　　　K=19 　　　T=27  
C=12 　　　L=20 　　　U=28  
D=13 　　　M=21 　　　V=29  
E=14 　　　N=22 　　  W=32  
F=15 　　  O=35 　　　X=30  
G=16 　　　P=23 　　　Y=31  
H=17 　　　Q=24 　　  Z=33  
I=34 　　　R=25 　
'''

In [46]:
d = [ss.replace('=',':') for ss in (s.split())]

In [60]:
d[0][2:4]

'10'

In [55]:
dict_chr = {}

In [71]:
dict_chr

{'A': '10',
 'B': '11',
 'C': '12',
 'D': '13',
 'E': '14',
 'F': '15',
 'G': '16',
 'H': '17',
 'I': '34',
 'J': '18',
 'K': '19',
 'L': '20',
 'M': '21',
 'N': '22',
 'O': '35',
 'P': '23',
 'Q': '24',
 'R': '25',
 'S': '26',
 'T': '27',
 'U': '28',
 'V': '29',
 'W': '32',
 'X': '30',
 'Y': '31',
 'Z': '33'}

In [75]:
dict_chr[id_no[0]]

'27'

In [70]:
for dd in d:
    print(dd[0])
    dict_chr[dd[0]] = dd[2:4]

A
J
S
B
K
T
C
L
U
D
M
V
E
N
W
F
O
X
G
P
Y
H
Q
Z
I
R

In [90]:
list_id_no = ([
'A154285748',
'B127231725',
'C256572407',
'D232773770',
'E240211835'])

In [92]:
for id_no in list_id_no:
    new_id_no = dict_chr[id_no[0]] + id_no[1:]
    weighting = '19876543211'
    list_newIdNo = list(zip(new_id_no,weighting))
    check_sum = sum([int(id_no[0]) * int(id_no[1]) for id_no in list_newIdNo])
    print(id_no, check_sum%10)

A154285748 1
B127231725 0
C256572407 0
D232773770 0
E240211835 2

In [94]:
str_a = "abc"
str_c = str_a[:] * 3

In [95]:
str_c

'abcabcabc'

In [104]:
'%06.2f' % (3.141592653589793,)

'003.14'

# ch3

In [108]:
利用Python計算由2010年3月2日中午12點15分0秒起算，經過145天10小時又3分鐘之後的時間為何? 
你的回答應該使用這個格式: YYYY-MM-DD HH:MM:SS，也就是年月日時分秒。

SyntaxError: invalid character in identifier (<ipython-input-108-3ed4685cd0f3>, line 1)

In [109]:
import datetime

In [122]:
d1 = datetime.datetime(2010,3,2,12,15,0)

In [125]:
td = datetime.timedelta(days = 145, hours = 10, minutes = 3)

In [127]:
d2 = d1+td

In [129]:
d2

datetime.datetime(2010, 7, 25, 22, 18)

In [138]:
d2.strftime('%Y-%m-%d %H:%M:%S')

'2010-07-25 22:18:00'

In [ ]:
今天有一群人在為n面牆壁漆油漆，一開始都是顏色1，經過著色後會被覆蓋，變成其他顏色。
今天如果有10面牆壁，然後替第2到5面牆壁漆顏色2，那麼總共會有6面牆壁顏色1，4面牆壁顏色2。
若再替牆壁3到6漆顏色3，那麼會有5面牆壁顏色1，1面牆壁顏色2，4面牆壁顏色3。
現在給定如下的資料輸入格式：
第一行輸入牆壁n面和m次油漆，
接下來的m行每行依順序輸入漆的牆壁的起點號碼、漆的牆壁的終點號碼，以及顏色代碼，都是合理的整數。
輸出共有m段，於第 i 段輸出在全部油漆動作都完成後，
第 i 次油漆之顏色的牆壁面數、一個空格，與該顏色代碼。段與段之間用一個分號隔開。所有牆壁在最初都是顏色1。
舉例來說：

In [ ]:
Input :

10 2

2 5 2

3 6 3

Output

5 1;1 2;4 3

現在如果是

15 4

2 3 3

5 13 2

3 5 1

5 5 4

那麼輸出會是？請注意第三次的油漆動作，我們會把第 3 到 5 面牆壁漆成最初的 1 號色。

In [201]:
w = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [202]:
c = list(str(1)*15)

In [203]:
dict_color_of_wall = dict(zip(w,c))

In [165]:
for i in range(2,6):
    dict_color_of_wall[i] = '2'
for i in range(3,7):
    dict_color_of_wall[i] = '3'

In [167]:
from collections import Counter

{1: '1',
 2: '2',
 3: '3',
 4: '3',
 5: '3',
 6: '3',
 7: '1',
 8: '1',
 9: '1',
 10: '1'}

In [172]:
Counter(dict_color_of_wall.values())

Counter({'1': 5, '2': 1, '3': 4})